# Données sensibles RH — ne jamais versionner
data/raw/
data/generated/
data/bronze/
data/warehouse.duckdb

# dbt
dbt/target/
dbt/logs/
dbt/profiles.yml
dbt/dbt_packages/
dbt/.user.yml

.venv/
__pycache__/
*.pyc
.env


docs/A_FAIRE_notion.md
docs/RAPPORT.md
docs/PREPARATION_SOUTENANCE.md


